<!-- <div class="overflow-hidden"> -->
<!-- nav bar starts here -->
<!-- <nav id="top-bar" class="w-full h-14 bg-indigo-200 flex justify-between items-center px-4 md:px-4 top-0 z-100">
            <div class="text-2xl text-indigo-700 font-bold">PW Skilss!</div>
            <ul class="md:flex hidden font-semibold">
                <li class="mx-[10px] cursor-pointer">Home</li>
                <li class="mx-[10px] cursor-pointer">About Us</li>
                <li class="mx-[10px] cursor-pointer">Contact Us</li>
            </ul>
            <div class="hidden md:block px-2 py-2 bg-indigo-700 rounded-md font-bold text-white cursor-pointer">
                Login/SignUp
            </div>
            <div class="md:hidden">
                <a href="#" class="text-4xl">&#8801;</a>
            </div>
        </nav> -->
<!-- nav bar ends here -->

<!-- <div class="h-screen overflow-y-auto w-full hide-scrollbar" id="main">
            <header class="w-full h-auto">
                <img class="w-full hidden md:block"
                    src="https://cdn.pwskills.com/assets/uploads/banners/63a18cca807628f5968f528a/web.jpg" alt="" srcset="">
                <img class="w-full md:hidden"
                    src="https://cdn.pwskills.com/assets/uploads/banners/63a18cca807628f5968f528a/mobile.jpg" alt=""
                    srcset="">
            </header>
    
            <div class="h-auto w-100 flex flex-wrap flex-col items-center text-center p-10">
                <div class="h-auto w-full flex flex-wrap flex-col items-center">
                    <p class="text-indigo-800 font-bold text-3xl md:text-4xl text-center">“Pure Hardwork,No Shortcuts”</p>
                    <div class="w-36 h-1 border-b-4 border-yellow-400 mt-2 rounded-2xl md:mt-4 mb-12"></div>
                </div>
                <div class="w-full flex flex-wrap justify-evenly">
                    <div class="w-46 flex flex-col items-center mb-12">
                        <img class="w-44 h-44" src="https://cdn-icons-png.flaticon.com/512/1754/1754435.png" alt="No Image"
                            srcset="">
                        <p class="text-white text-3xl font-bold">600+</p>
                        <p class="text-gray-500 text-3xl font-bold">Different Courses</p>
                    </div>
    
                    <div class="w-46 flex flex-col items-center mb-12">
                        <img class="w-44 h-44" src="https://cdn-icons-png.flaticon.com/512/5850/5850276.png" alt="No Image"
                            srcset="">
                        <p class="text-white text-3xl font-bold">70000+</p>
                        <p class="text-gray-500 text-3xl font-bold">Students Enrolled</p>
                    </div>
    
                    <div class="w-46 flex flex-col items-center mb-12">
                        <img class="w-44 h-44" src="https://cdn-icons-png.flaticon.com/512/2761/2761118.png" alt="No Image"
                            srcset="">
                        <p class="text-white text-3xl font-bold">10000+</p>
                        <p class="text-gray-500 text-3xl font-bold">Successfull Transition</p>
                    </div>
                </div>
            </div>
    
            <div class="h-auto w-100 flex flex-wrap flex-col items-center text-center p-10">
                <div class="h-auto w-full flex flex-wrap flex-col items-center">
                    <p class="text-indigo-800 font-bold text-3xl md:text-4xl text-center">Our Products</p>
                    <div class="w-36 h-1 border-b-4 border-yellow-400 mt-2 rounded-2xl md:mt-4 mb-12"></div>
                </div>
    
                <div class="w-[100%] h-auto flex flex-wrap justify-around">
                    <div class="w-64 flex flex-col items-center mb-12 border-white border-2 rounded-xl">
                        <img class="rounded-t-xl w-full h-44"
                            src="https://t3.ftcdn.net/jpg/00/82/71/84/360_F_82718495_nvMp8WtYoYk2FL3BqvxAJiZ0YqSxUQA7.jpg"
                            alt="" srcset="">
                        <p class="text-3xl text-white font-bold mt-2 p-2">PW Skills</p>
                        <p class="text-xl text-gray-500 font-bold p-2">Supercharge your projects development with our robust
                            lab
                        </p>
                    </div>
    
                    <div class="w-64 flex flex-col items-center mb-12 border-white border-2 rounded-xl">
                        <img class="rounded-t-xl w-full h-44"
                            src="https://staticlearn.shine.com/l/m/images/blog/job_search_mistake.png" alt="" srcset="">
                        <p class="text-3xl text-white  font-bold mt-2 p-2">Job Portal</p>
                        <p class="text-xl text-gray-500  font-bold p-2">Supercharge your projects development with our
                            robust
                            lab</p>
                    </div>
    
                    <div class="w-64 flex flex-col items-center mb-12 border-white border-2 rounded-xl">
                        <img class="rounded-t-xl w-full h-44"
                            src="https://images.unsplash.com/photo-1512314889357-e157c22f938d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fGV4cGVyaWVuY2V8ZW58MHx8MHx8fDA%3D&w=1000&q=80"
                            alt="" srcset="">
                        <p class="text-3xl text-white  font-bold p-2 mt-1">Experience Portal</p>
                        <p class="text-xl text-gray-500  font-bold p-2">Supercharge your projects development with our
                            robust
                            lab</p>
                    </div>
    
                    <div class="w-64 flex flex-col items-center mb-12 border-white border-2 rounded-xl">
                        <img class="rounded-t-xl w-full h-44"
                            src="https://img.freepik.com/free-vector/hand-drawn-flat-design-affiliate-marketing-illustration_23-2149344709.jpg"
                            alt="" srcset="">
                        <p class="text-3xl text-white mt-1 p-2 font-bold">Become An Affiliate</p>
                        <p class="text-xl text-gray-500  font-bold p-2">Supercharge your projects development with our
                            robust
                            lab</p>
                    </div>
    
                    <div class="w-64 flex flex-col items-center mb-12 border-white border-2 rounded-xl">
                        <img class="rounded-t-xl w-full h-44"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcj1DrrakUNjwzNIKMYf1CWTPM3-Q7k81XKsDJRRf1PA&s"
                            alt="" srcset="">
                        <p class="text-3xl text-white mt-1 p-2 font-bold">Hall of Fame</p>
                        <p class="text-xl text-gray-500 p-2 font-bold">Supercharge your projects development with our robust
                            lab
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer" class="bottom-0 z-100 ">
            <div class="bg-slate-950 text-center text-white">
                <a class="mb-0 py-2 text-white font-semibold" target="blank"
                    style="font-family: 'Bree Serif', serif; text-decoration: underline"
                    href="https://hittuportfolio.com/">Designed and Developed by Hitesh Verma</a>
            </div>
        </div> -->
<!-- </div> -->


<!-- Header -->
<header class="bg-primaryColor fixed top-0 left-0 w-full z-50">
    <nav class="px-2 relative h-14 flex justify-between items-center">
        <div>
            <a href="#" class="text-2xl uppercase font-oswald">
                Bur<span class="text-secondaryColor">ger</span>
            </a>
        </div>
        <div id="nav-menu"
            class="hidden absolute top-0 left-0 w-full py-14 bg-primaryColor border-b border-secondaryColor md:block md:static md:py-0 md:border-none md:w-auto md:ml-auto ">
            <ul class=" flex flex-col text-center gap-5 md:flex-row">
                <li>
                    <a href="#home" (click)="nav_link_click()" class="nav_link hover:text-secondaryColor ease-in duration-200 cursor-pointer">
                        Home
                    </a>
                </li>
                <li>
                    <a (click)="nav_link_click()" href="#about"
                        class="nav_link hover:text-secondaryColor ease-in duration-200">About Us</a>
                </li>
                <li>
                    <a (click)="nav_link_click()" href="#menu"
                        class="nav_link hover:text-secondaryColor ease-in duration-200">Menu</a>
                </li>
                <li>
                    <a (click)="nav_link_click()" href="#review"
                        class="nav_link hover:text-secondaryColor ease-in duration-200">Review</a>
                </li>
                <li>
                    <a (click)="nav_link_click()" href="#contact"
                        class="nav_link hover:text-secondaryColor ease-in duration-200">Contact</a>
                </li>
            </ul>
            <div id="nav-close" class="absolute top-[0.7rem] right-4 text-2xl cursor-pointer md:hidden">
                <i class="material-icons" (click)="closebtnClick()">close</i>
            </div>
        </div>
        <div class="flex items-center gap-5">
            <i class="material-icons cursor-pointer ml-4 text-xl">mode_night</i>
            <div id="hamburger" class="md:hidden">
                <a class="cursor-pointer text-xl" (click)="hamburgerClick()">&#8801;</a>
            </div>
        </div>
    </nav>
</header>

<!-- Home -->
<section id="home">
    <div class="px-2 flex flex-col items-center gap-10 md:flex-row">
        <div class="mx-auto md:basis-1/2 lg:basis-2/5 animate-movingY">
            <img class="w-60 md:w-full"
                src="https://png.pngtree.com/png-clipart/20230325/original/pngtree-juicy-burgers-with-a-transparent-background-png-image_9002761.png"
                alt="home image" srcset="">
        </div>

        <div class="text-center md:basis-1/2 md:text-start lg:basis-3/5">
            <h1 class="home__title lg:whitespace-nowrap">HAPPY TUMMY WITH TASTY BURGERS.</h1>
            <div class="seperator mx-auto md:mx-0 lg:mx-auto lg:w-72"></div>
            <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Illo nam optio dolorem molestiae esse placeat,
                rem debitis corporis velit aliquid fugiat aspernatur excepturi minima at praesentium in maiores
                voluptates nobis!
            </p>
            <div class=" text-base flex items-center justify-center gap-4 py-10 md:justify-start md:gap-20">
                <div class="text-center">
                    <i class="material-icons text-secondaryColor text-4xl">restaurant</i>
                    <br />
                    Delicious
                </div>
                <div class="text-center">
                    <i class="material-icons text-secondaryColor text-4xl">water_drop</i>
                    <br />
                    Fresh
                </div>
                <div class="text-center">
                    <i class="material-icons text-secondaryColor text-4xl">eco</i>
                    <br />
                    Organic
                </div>
            </div>
            <a href="#" class="btn btn-primary">learn more</a>
        </div>
    </div>
</section>

<!-- Category -->
<section id="category" class="">
    <!-- Card1 -->
    <div class="container flex flex-col gap-5 md:flex-row">
        <div class="bg-secondaryColor flex py-3 rounded-lg overflow-hidden md:flex-1">
            <div class="basis-1/3 relative">
                <img class="absolute w-28 -bottom-4 -left-4" src="https://pngimg.com/d/burger_sandwich_PNG4133.png"
                    alt="category image">
            </div>
            <div>
                <div class="mb-2">
                    <h4 class="card__title">Food</h4>
                    <p class="text-xs">Lorem ispum dolor sit</p>
                </div>
                <a class="text-blackColor cursor-pointer" href="#">Buy Online</a>
            </div>
        </div>
        <!-- Card2 -->
        <div class="bg-redColor flex py-3 rounded-lg overflow-hidden md:flex-1">
            <div class="basis-1/3 relative">
                <img class="absolute w-28 -bottom-4 -left-4"
                    src="https://static.vecteezy.com/system/resources/thumbnails/026/721/245/small_2x/popcorn-bucket-cinema-snack-popcorn-in-a-red-striped-bucket-sticker-illustration-png.png"
                    alt="category image">
            </div>
            <div>
                <div class="mb-2">
                    <h4 class="card__title">Food</h4>
                    <p class="text-xs">Lorem ispum dolor sit</p>
                </div>
                <a class="text-secondaryColor cursor-pointer" href="#">Buy Online</a>
            </div>
        </div>
        <!-- Card3 -->
        <div class="bg-greenColor flex py-3 rounded-lg overflow-hidden md:flex-1">
            <div class="basis-1/3 relative">
                <img class="absolute w-28 -bottom-4 -left-4"
                    src="https://freepngimg.com/thumb/drink/22700-6-drink-transparent-image.png" alt="category image">
            </div>
            <div>
                <div class="mb-2">
                    <h4 class="card__title">Food</h4>
                    <p class="text-xs">Lorem ispum dolor sit</p>
                </div>
                <a class="text-secondaryColor cursor-pointer" href="#">Buy Online</a>
            </div>
        </div>
    </div>

</section>

<!-- promo section -->
<section id="promo">
    <div class="container flex flex-col gap-5 lg:gap-10 lg:flex-row">
        <div
            class="bg-primaryLightColor flex flex-col p-5 rounded-lg md:flex-row md:items-center lg:flex-row-reverse lg:flex-1">
            <img src="https://png.pngtree.com/png-clipart/20230325/original/pngtree-juicy-burgers-with-a-transparent-background-png-image_9002761.png"
                alt="promo-image" srcset="" class="w-40 mx-auto hover:animate-movingY md:mx-5">
            <div class="space-y-2 pt-5 md:pt-0">
                <p class="text-xs text-secondaryColor">Payday promo</p>
                <h3 class="card__title">GET A 10% DISCOUNT ON PAYDAY WEEK</h3>
                <p class="paragraph">Lorem ipsum dolor sit amet,consectuter adiciping elit.</p>
                <a href="#" class="text-xs text-secondaryColor">Buy online</a>
            </div>
        </div>

        <div
            class="bg-primaryLightColor flex flex-col p-5 rounded-lg md:flex-row md:items-center lg:flex-row-reverse lg:flex-1">
            <img src="https://www.pngall.com/wp-content/uploads/5/Beverage-Transparent.png" alt="promo-image" srcset=""
                class="w-40 mx-auto hover:animate-movingY md:mx-5">
            <div class="space-y-2 pt-5 md:pt-0">
                <p class="text-xs text-secondaryColor">Payday promo</p>
                <h3 class="card__title">GET A 10% DISCOUNT ON PAYDAY WEEK</h3>
                <p class="paragraph">Lorem ipsum dolor sit amet,consectuter adiciping elit.</p>
                <a href="#" class="text-xs text-secondaryColor">Buy online</a>
            </div>
        </div>
    </div>
</section>

<!-- About -->
<section id="about">
    <div class="container flex flex-col gap-10 md:flex-row">
        <div class="flex-1 hover:animate-movingY">
            <img class="rounded-lg"
                src="https://d2s742iet3d3t1.cloudfront.net/menu_service/restaurants/9c86eb12-4cee-4764-9aa9-25c6b2ec4eec/MenuItem/69502129-3e42-4b39-87cb-85ba314bdda1.png?size=medium"
                alt="about image">
        </div>
        <div class="flex-1 lg:mt-32">
            <h2 class="section__title">FIND FOOD AND DRINKS,ALL IN-ONE PLACE FOR YOUR BEST TASTE</h2>
            <div class="serepator"></div>
            <p class="paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat, cupiditate fugit
                commodi a dolorem,
                unde nesciunt quidem voluptates tempora delectus ducimus quas, harum ad labore dignissimos libero rerum
                quo! Odit.
            </p>
            <ul class="grid grid-cols-2 py-5 space-y-1">
                <li class="text-xs text-paragraphColor flex flex-row gap-1"><i
                        class="material-icons text-xs text-secondaryColor">done</i>
                    <div>Price</div>
                </li>
                <li class="text-xs text-paragraphColor flex flex-row gap-1"><i
                        class="material-icons text-xs text-secondaryColor">done</i>
                    <div>Fresh Ingredient</div>
                </li>
                <li class="text-xs text-paragraphColor flex flex-row gap-1"><i
                        class="material-icons text-xs text-secondaryColor">done</i>
                    <div>Best Service</div>
                </li>
                <li class="text-xs text-paragraphColor flex flex-row gap-1"><i
                        class="material-icons text-xs text-secondaryColor">done</i>
                    <div>Health Protocol</div>
                </li>
            </ul>
            <a href="" class="btn btn-primary">About us</a>
        </div>
    </div>
</section>

<!-- Menu -->

<section id="menu">
    <div class="container flex flex-col gap-10 md:flex-col">
        <div class="max-w-md mx-auto text-center">
            <h2 class="section__title">OUR BEST MENU</h2>
            <div class="seperator mx-auto"></div>
            <p class="paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam dolore est asperiores
                assumenda ea ut blanditiis aperiam, sed tempore officia velit, harum itaque placeat laudantium molestias
                fugit possimus laboriosam culpa.
            </p>
            <div class="tabs_wrap">
                <ul class="flex flex-wrap justify-center gap-3 py-10">
                    <li data-tabs="all" class="btn bg-primaryLightColor active" (click)="menu_click()">All</li>
                    <li data-tabs="food" class="btn bg-primaryLightColor" (click)="menu_click()">Food</li>
                    <li data-tabs="snack" class="btn bg-primaryLightColor" (click)="menu_click()">Snack</li>
                    <li data-tabs="beverage" class="btn bg-primaryLightColor" (click)="menu_click()">Beverage</li>
                </ul>
            </div>
        </div>

        <div>
            <ul class="grid grid-cols-1 gap-5 md:grid-cols-2 lg:grid-cols-4 lg:gap-12">
                <!-- Food -->
                <li class="item_wrap food">
                    <div
                        class="h-56 grid place-items-center bg-primaryLightColor rounded-3xl hover:bg-secondaryColor ease-linear duration-200 lg:h-40">
                        <img class="w-40 hover:scale-110 ease-linear duration-200 md:w-48 lg:w-24"
                            src="https://png.pngtree.com/png-clipart/20230325/original/pngtree-juicy-burgers-with-a-transparent-background-png-image_9002761.png"
                            alt="">
                    </div>

                    <div class="pt-5">
                        <div class="mb-2">
                            <h4 class="card__title">REGULAR BEEF BURGER</h4>
                            <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto quam in
                                eaque explicabo maxime illum dolores voluptas ad recusandae, accusantium ab expedita,
                                deserunt minus quae exercitationem nam debitis, modi totam.
                            </p>
                        </div>
                        <p class="text-secondaryColor">$45.00</p>
                    </div>
                </li>
                <li class="item_wrap food">
                    <div
                        class="h-56 grid place-items-center bg-primaryLightColor rounded-3xl hover:bg-secondaryColor ease-linear duration-200 lg:h-40">
                        <img class="w-40 hover:scale-110 ease-linear duration-200 md:w-48 lg:w-24"
                            src="https://png.pngtree.com/png-clipart/20230325/original/pngtree-juicy-burgers-with-a-transparent-background-png-image_9002761.png"
                            alt="">
                    </div>

                    <div class="pt-5">
                        <div class="mb-2">
                            <h4 class="card__title">REGULAR BEEF BURGER</h4>
                            <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto quam in
                                eaque explicabo maxime illum dolores voluptas ad recusandae, accusantium ab expedita,
                                deserunt minus quae exercitationem nam debitis, modi totam.
                            </p>
                        </div>
                        <p class="text-secondaryColor">$45.00</p>
                    </div>
                </li>
                <li class="item_wrap food">
                    <div
                        class="h-56 grid place-items-center bg-primaryLightColor rounded-3xl hover:bg-secondaryColor ease-linear duration-200 lg:h-40">
                        <img class="w-40 hover:scale-110 ease-linear duration-200 md:w-48 lg:w-24"
                            src="https://png.pngtree.com/png-clipart/20230325/original/pngtree-juicy-burgers-with-a-transparent-background-png-image_9002761.png"
                            alt="">
                    </div>

                    <div class="pt-5">
                        <div class="mb-2">
                            <h4 class="card__title">REGULAR BEEF BURGER</h4>
                            <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto quam in
                                eaque explicabo maxime illum dolores voluptas ad recusandae, accusantium ab expedita,
                                deserunt minus quae exercitationem nam debitis, modi totam.
                            </p>
                        </div>
                        <p class="text-secondaryColor">$45.00</p>
                    </div>
                </li>
                <li class="item_wrap food">
                    <div
                        class="h-56 grid place-items-center bg-primaryLightColor rounded-3xl hover:bg-secondaryColor ease-linear duration-200 lg:h-40">
                        <img class="w-40 hover:scale-110 ease-linear duration-200 md:w-48 lg:w-24"
                            src="https://png.pngtree.com/png-clipart/20230325/original/pngtree-juicy-burgers-with-a-transparent-background-png-image_9002761.png"
                            alt="">
                    </div>

                    <div class="pt-5">
                        <div class="mb-2">
                            <h4 class="card__title">REGULAR BEEF BURGER</h4>
                            <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto quam in
                                eaque explicabo maxime illum dolores voluptas ad recusandae, accusantium ab expedita,
                                deserunt minus quae exercitationem nam debitis, modi totam.
                            </p>
                        </div>
                        <p class="text-secondaryColor">$45.00</p>
                    </div>
                </li>

                <!-- Snacks -->
                <li class="item_wrap snack">
                    <div
                        class="h-56 grid place-items-center bg-primaryLightColor rounded-3xl hover:bg-secondaryColor ease-linear duration-200 lg:h-40">
                        <img class="w-40 hover:scale-110 ease-linear duration-200 md:w-48 lg:w-24"
                            src="https://i.pinimg.com/originals/5a/93/a8/5a93a8066e47c4d70ae4a551d17830cb.png" alt="">
                    </div>

                    <div class="pt-5">
                        <div class="mb-2">
                            <h4 class="card__title">FRENCH FRIES</h4>
                            <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto quam in
                                eaque explicabo maxime illum dolores voluptas ad recusandae, accusantium ab expedita,
                                deserunt minus quae exercitationem nam debitis, modi totam.
                            </p>
                        </div>
                        <p class="text-secondaryColor">$45.00</p>
                    </div>
                </li>
                <li class="item_wrap snack">
                    <div
                        class="h-56 grid place-items-center bg-primaryLightColor rounded-3xl hover:bg-secondaryColor ease-linear duration-200 lg:h-40">
                        <img class="w-40 hover:scale-110 ease-linear duration-200 md:w-48 lg:w-24"
                            src="https://i.pinimg.com/originals/5a/93/a8/5a93a8066e47c4d70ae4a551d17830cb.png" alt="">
                    </div>

                    <div class="pt-5">
                        <div class="mb-2">
                            <h4 class="card__title">FRENCH FRIES</h4>
                            <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto quam in
                                eaque explicabo maxime illum dolores voluptas ad recusandae, accusantium ab expedita,
                                deserunt minus quae exercitationem nam debitis, modi totam.
                            </p>
                        </div>
                        <p class="text-secondaryColor">$45.00</p>
                    </div>
                </li>
                <li class="item_wrap snack">
                    <div
                        class="h-56 grid place-items-center bg-primaryLightColor rounded-3xl hover:bg-secondaryColor ease-linear duration-200 lg:h-40">
                        <img class="w-40 hover:scale-110 ease-linear duration-200 md:w-48 lg:w-24"
                            src="https://i.pinimg.com/originals/5a/93/a8/5a93a8066e47c4d70ae4a551d17830cb.png" alt="">
                    </div>

                    <div class="pt-5">
                        <div class="mb-2">
                            <h4 class="card__title">FRENCH FRIES</h4>
                            <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto quam in
                                eaque explicabo maxime illum dolores voluptas ad recusandae, accusantium ab expedita,
                                deserunt minus quae exercitationem nam debitis, modi totam.
                            </p>
                        </div>
                        <p class="text-secondaryColor">$45.00</p>
                    </div>
                </li>
                <li class="item_wrap snack">
                    <div
                        class="h-56 grid place-items-center bg-primaryLightColor rounded-3xl hover:bg-secondaryColor ease-linear duration-200 lg:h-40">
                        <img class="w-40 hover:scale-110 ease-linear duration-200 md:w-48 lg:w-24"
                            src="https://i.pinimg.com/originals/5a/93/a8/5a93a8066e47c4d70ae4a551d17830cb.png" alt="">
                    </div>

                    <div class="pt-5">
                        <div class="mb-2">
                            <h4 class="card__title">FRENCH FRIES</h4>
                            <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto quam in
                                eaque explicabo maxime illum dolores voluptas ad recusandae, accusantium ab expedita,
                                deserunt minus quae exercitationem nam debitis, modi totam.
                            </p>
                        </div>
                        <p class="text-secondaryColor">$45.00</p>
                    </div>
                </li>
                <li class="item_wrap snack">
                    <div
                        class="h-56 grid place-items-center bg-primaryLightColor rounded-3xl hover:bg-secondaryColor ease-linear duration-200 lg:h-40">
                        <img class="w-40 hover:scale-110 ease-linear duration-200 md:w-48 lg:w-24"
                            src="https://i.pinimg.com/originals/5a/93/a8/5a93a8066e47c4d70ae4a551d17830cb.png" alt="">
                    </div>

                    <div class="pt-5">
                        <div class="mb-2">
                            <h4 class="card__title">FRENCH FRIES</h4>
                            <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto quam in
                                eaque explicabo maxime illum dolores voluptas ad recusandae, accusantium ab expedita,
                                deserunt minus quae exercitationem nam debitis, modi totam.
                            </p>
                        </div>
                        <p class="text-secondaryColor">$45.00</p>
                    </div>
                </li>

                <!-- Beverage -->
                <li class="item_wrap beverage">
                    <div
                        class="h-56 grid place-items-center bg-primaryLightColor rounded-3xl hover:bg-secondaryColor ease-linear duration-200 lg:h-40">
                        <img class="w-40 hover:scale-110 ease-linear duration-200 md:w-48 lg:w-24"
                            src="https://img.pikbest.com/origin/08/98/96/34YpIkbEsTmJM.png!w700wp" alt="">
                    </div>

                    <div class="pt-5">
                        <div class="mb-2">
                            <h4 class="card__title">SWEET SMOTHIE</h4>
                            <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto quam in
                                eaque explicabo maxime illum dolores voluptas ad recusandae, accusantium ab expedita,
                                deserunt minus quae exercitationem nam debitis, modi totam.
                            </p>
                        </div>
                        <p class="text-secondaryColor">$45.00</p>
                    </div>
                </li>
                <li class="item_wrap beverage">
                    <div
                        class="h-56 grid place-items-center bg-primaryLightColor rounded-3xl hover:bg-secondaryColor ease-linear duration-200 lg:h-40">
                        <img class="w-40 hover:scale-110 ease-linear duration-200 md:w-48 lg:w-24"
                            src="https://img.pikbest.com/origin/08/98/96/34YpIkbEsTmJM.png!w700wp" alt="">
                    </div>

                    <div class="pt-5">
                        <div class="mb-2">
                            <h4 class="card__title">SWEET SMOTHIE</h4>
                            <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto quam in
                                eaque explicabo maxime illum dolores voluptas ad recusandae, accusantium ab expedita,
                                deserunt minus quae exercitationem nam debitis, modi totam.
                            </p>
                        </div>
                        <p class="text-secondaryColor">$45.00</p>
                    </div>
                </li>
                <li class="item_wrap beverage">
                    <div
                        class="h-56 grid place-items-center bg-primaryLightColor rounded-3xl hover:bg-secondaryColor ease-linear duration-200 lg:h-40">
                        <img class="w-40 hover:scale-110 ease-linear duration-200 md:w-48 lg:w-24"
                            src="https://img.pikbest.com/origin/08/98/96/34YpIkbEsTmJM.png!w700wp" alt="">
                    </div>

                    <div class="pt-5">
                        <div class="mb-2">
                            <h4 class="card__title">SWEET SMOTHIE</h4>
                            <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto quam in
                                eaque explicabo maxime illum dolores voluptas ad recusandae, accusantium ab expedita,
                                deserunt minus quae exercitationem nam debitis, modi totam.
                            </p>
                        </div>
                        <p class="text-secondaryColor">$45.00</p>
                    </div>
                </li>
                <li class="item_wrap beverage">
                    <div
                        class="h-56 grid place-items-center bg-primaryLightColor rounded-3xl hover:bg-secondaryColor ease-linear duration-200 lg:h-40">
                        <img class="w-40 hover:scale-110 ease-linear duration-200 md:w-48 lg:w-24"
                            src="https://img.pikbest.com/origin/08/98/96/34YpIkbEsTmJM.png!w700wp" alt="">
                    </div>

                    <div class="pt-5">
                        <div class="mb-2">
                            <h4 class="card__title">SWEET SMOTHIE</h4>
                            <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto quam in
                                eaque explicabo maxime illum dolores voluptas ad recusandae, accusantium ab expedita,
                                deserunt minus quae exercitationem nam debitis, modi totam.
                            </p>
                        </div>
                        <p class="text-secondaryColor">$45.00</p>
                    </div>
                </li>
                <li class="item_wrap beverage">
                    <div
                        class="h-56 grid place-items-center bg-primaryLightColor rounded-3xl hover:bg-secondaryColor ease-linear duration-200 lg:h-40">
                        <img class="w-40 hover:scale-110 ease-linear duration-200 md:w-48 lg:w-24"
                            src="https://img.pikbest.com/origin/08/98/96/34YpIkbEsTmJM.png!w700wp" alt="">
                    </div>

                    <div class="pt-5">
                        <div class="mb-2">
                            <h4 class="card__title">SWEET SMOTHIE</h4>
                            <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto quam in
                                eaque explicabo maxime illum dolores voluptas ad recusandae, accusantium ab expedita,
                                deserunt minus quae exercitationem nam debitis, modi totam.
                            </p>
                        </div>
                        <p class="text-secondaryColor">$45.00</p>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</section>

<!-- Section -->
<section id="review" class="bg-primaryLightColor py-20">
    <div class="container">
        <div class="max-w-md mx-auto text-center">
            <h2 class="section__title">CUSTOMER REVIEW</h2>
            <div class="seperator mx-auto"></div>
            <p class="paragraph lg:text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam dolore
                est asperiores
                assumenda ea ut blanditiis aperiam, sed tempore officia velit, harum itaque placeat laudantium molestias
                fugit possimus laboriosam culpa.
            </p>
        </div>
        <div class="swipper py-10">
            <ul class="swiper-wrapper gap-5">
                <li class="swiper-slide">
                    <div class="flex flex-col gap-5 bg-primaryColor rounded-lg p-6">
                        <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, tempora
                            similique? Sed iste expedita non perferendis quo!
                        </p>
                        <div class="flex items-center">
                            <img class="w-12 h-12 rounded-full"
                                src="https://media.vanityfair.com/photos/5cf71b7e5d0130aa612df063/master/w_2560%2Cc_limit/zuckerberg1.jpg"
                                alt="review image">
                            <div class="ml-2">
                                <p class="font-oswald uppercase">John Doe</p>
                                <p class="paragraph">Designer</p>
                            </div>
                            <i class="material-icons text-4xl text-secondaryColor ml-auto">format_quote</i>
                        </div>
                    </div>
                </li>

                <!-- <li class="swiper-slide">
                    <div class="flex flex-col gap-5 bg-primaryColor rounded-lg p-6">
                        <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, tempora
                            similique? Sed iste expedita non perferendis quo!
                        </p>
                        <div class="flex items-center">
                            <img class="w-12 h-12 rounded-full"
                                src="https://media.vanityfair.com/photos/5cf71b7e5d0130aa612df063/master/w_2560%2Cc_limit/zuckerberg1.jpg"
                                alt="review image">
                            <div class="ml-2">
                                <p class="font-oswald uppercase">John Doe</p>
                                <p class="paragraph">Designer</p>
                            </div>
                            <i class="material-icons text-4xl text-secondaryColor ml-auto">format_quote</i>
                        </div>
                    </div>
                </li>

                <li class="swiper-slide">
                    <div class="flex flex-col gap-5 bg-primaryColor rounded-lg p-6">
                        <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, tempora
                            similique? Sed iste expedita non perferendis quo!
                        </p>
                        <div class="flex items-center">
                            <img class="w-12 h-12 rounded-full"
                                src="https://media.vanityfair.com/photos/5cf71b7e5d0130aa612df063/master/w_2560%2Cc_limit/zuckerberg1.jpg"
                                alt="review image">
                            <div class="ml-2">
                                <p class="font-oswald uppercase">John Doe</p>
                                <p class="paragraph">Designer</p>
                            </div>
                            <i class="material-icons text-4xl text-secondaryColor ml-auto">format_quote</i>
                        </div>
                    </div>
                </li>

                <li class="swiper-slide">
                    <div class="flex flex-col gap-5 bg-primaryColor rounded-lg p-6">
                        <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, tempora
                            similique? Sed iste expedita non perferendis quo!
                        </p>
                        <div class="flex items-center">
                            <img class="w-12 h-12 rounded-full"
                                src="https://media.vanityfair.com/photos/5cf71b7e5d0130aa612df063/master/w_2560%2Cc_limit/zuckerberg1.jpg"
                                alt="review image">
                            <div class="ml-2">
                                <p class="font-oswald uppercase">John Doe</p>
                                <p class="paragraph">Designer</p>
                            </div>
                            <i class="material-icons text-4xl text-secondaryColor ml-auto">format_quote</i>
                        </div>
                    </div>
                </li>

                <li class="swiper-slide">
                    <div class="flex flex-col gap-5 bg-primaryColor rounded-lg p-6">
                        <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, tempora
                            similique? Sed iste expedita non perferendis quo!
                        </p>
                        <div class="flex items-center">
                            <img class="w-12 h-12 rounded-full"
                                src="https://media.vanityfair.com/photos/5cf71b7e5d0130aa612df063/master/w_2560%2Cc_limit/zuckerberg1.jpg"
                                alt="review image">
                            <div class="ml-2">
                                <p class="font-oswald uppercase">John Doe</p>
                                <p class="paragraph">Designer</p>
                            </div>
                            <i class="material-icons text-4xl text-secondaryColor ml-auto">format_quote</i>
                        </div>
                    </div>
                </li> -->
            </ul>
            <div class="swipper-paigation">

            </div>
        </div>
    </div>
</section>

<!-- Contact  -->
<section id="contact" class="bg-secondaryColor py-16">
    <div class="container flex flex-col gap-5 md:items-center md:flex-row">
        <div class="space-y-4 md:flex-1">
            <h2 class="section__title text-blackColor">GET EXCLUSIVE UPDATE</h2>
            <p class="text-sm">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus, sequi!</p>
        </div>
        <div class="flex flex-col gap-3 md:flex-row md:flex-1">
            <input type="email" placeholder="Email address"
                class="p-2 text-blackColor rounded-lg outline-none md:w-full" />
            <a href="" class="flex items-center justify-center gap-2 btn bg-blackColor hover:opacity-75">
                <i class="material-icons">send</i>
                Subscribe
            </a>
        </div>
    </div>
</section>

<!-- Footer  -->

<footer>
    <section id="footer">
        <div class="container">
            <ul class="grid grid-cols-1 items-start gap-5 pb-5 md:grid-cols-2 lg:grid-cols-4">
                <li>
                    <div class="space-y-3">
                        <a href="" class="text-4xl font-oswald uppercase">
                            Bur<span class="text-secondaryColor">ger</span>
                        </a>
                        <p class="text-xs">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus, tenetur illum. Neque quam
                            ipsum velit.
                        </p>
                    </div>
                </li>

                <li>
                    <div class="flex flex-col gap-3">
                        <h3 class="text-lg uppercase font-oswald">
                            SUPPORT
                        </h3>
                        <a href="" class="text-xs hover:text-secondaryColor">FAQ's</a>
                        <a href="" class="text-xs hover:text-secondaryColor">Privacy Policy</a>
                        <a href="" class="text-xs hover:text-secondaryColor">Terms & Condition</a>
                        <a href="" class="text-xs hover:text-secondaryColor">Contact</a>
                    </div>
                </li>

                <li class="space-y-8">
                    <div class="space-y-2">
                        <h3 class="text-lg uppercase font-oswald">
                            phone
                        </h3>
                        <p class="flex items-center gap-2 text-xs">
                            <i class="material-icons text-lg text-secondaryColor">call</i>
                            +1 000 000 0000
                        </p>
                    </div>

                    <div class="space-y-2">
                        <h3 class="text-lg uppercase font-oswald">
                            email
                        </h3>
                        <p class="flex items-center gap-2 text-xs">
                            <i class="material-icons text-lg text-secondaryColor">email</i>
                            burger.info@email.com
                        </p>
                    </div>
                </li>

                <li class="space-y-8">
                    <div class="space-y-2">
                        <h3 class="text-lg uppercase font-oswald">
                            address
                        </h3>
                        <p class="flex items-center gap-2 text-xs">
                            <i class="material-icons text-lg text-secondaryColor">home</i>
                            address goes here
                        </p>
                    </div>

                    <div class="space-y-2">
                        <h3 class="text-lg uppercase font-oswald">
                            Follow us
                        </h3>
                        <div class="space-x-3">
                            <i
                                class="material-icons text-lg text-secondaryColor cursor-pointer hover:translate-y-1 ease-in duration-200">facebook</i>
                            <i
                                class="material-icons text-lg text-secondaryColor cursor-pointer hover:translate-y-1 ease-in duration-200">menu_open</i>
                            <i
                                class="material-icons text-lg text-secondaryColor cursor-pointer hover:translate-y-1 ease-in duration-200">tune</i>
                        </div>
                    </div>
                </li>
            </ul>
            <div
                class="flex flex-col items-center border-t border-primaryLightColor py-5 md:flex-row md:justify-between">
                <p class="paragraph">
                    Burger Template Kit by Light Code
                </p>
                <p class="paragraph">
                    Copyright © 2023. All rights reserved.
                </p>
            </div>
        </div>
    </section>
</footer>

<div (click)="click_scroll_up()" id="scoll-up" href=""
    class="fixed right-4 -bottom-1/2 bg-secondaryColor shadow-sm inline-block px-4 py-2 rounded-full text-lg text-blackColor z-50 hover:translate-y-1 ease-in duration-200">
    <i class="material-icons">arrow_upward</i>
</div>